@model WebBanXe.Models.DoiXeDongXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoiXeDongXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DongXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DongXe.DongXeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiXe.DoiXeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoiXeDongXeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
