@model WebBanXe.Models.TheLoaiXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TheLoaiXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTheLoaiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTheLoaiXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiXe.LoaiXeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TheLoaiXeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
