@model WebBanXe.Models.DongXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DongXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDongXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDongXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangXe.HangXeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanKhoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanKhoi.PhanKhoiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoaiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoaiXe.TheLoaiXeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DongXeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
