@model IEnumerable<WebBanXe.Models.DongXe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDongXe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangXe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanKhoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoaiXe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDongXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangXe.HangXeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanKhoi.PhanKhoiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoaiXe.TheLoaiXeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DongXeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DongXeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DongXeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
